<body>
    <app-header></app-header>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <br><br><br>
    <section style="margin-left: 550px;">
      <form  [formGroup]="createCarForm" (ngSubmit)="onSubmit()">
        <div class="project-request">
          <div class="container">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <div class="RequestForm">
                <h2>Create car </h2>
                <div class="Forms">         
                    <div class="form-group">
                      <input class="form-control" placeholder="Description" formControlName="description" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Model Of Car" type="text" formControlName="modelofcar" >
                    </div>                  
                    <div class="form-group">
                        <input class="form-control" placeholder="Number of seats" type="number" formControlName="seats" >
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="Price" type="number" formControlName="price" >
                      </div>
                      <div class="form-group">
                        <input type="file" (change)="onFileChanged($event)" formControlName="imagepic">
                      </div>
                    <div class="form-group">
                      <select id="namecopmany"  [(ngModel)]="selectedValue" name="namecopmany" formControlName="namecopmany" class="form-control">
                      <option *ngFor="let c of namecopmany" [ngValue]="c">{{ c.name}}</option>
                    </select>
                    </div>               
                    <button type="submit" class="button" [disabled]="!createCarForm.valid" >Create</button>
                   </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </section>
    </body>