<body>
    <app-header></app-header>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <br><br><br>
    <section style="margin-left: 550px;">
      <form [formGroup]="createCompanyForm" (ngSubmit)="onSubmit()">
        <div class="project-request">
          <div class="container">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <div class="RequestForm">
                <h2>Edit rent-car service</h2>
                <div class="Forms">         
                    <div class="form-group">
                      <input class="form-control"  value="{{name}}" type="text" id = "name"formControlName="companyName" >
                      <label class="text-danger" *ngIf="createCompanyForm.get('companyName').touched && createCompanyForm.get('companyName').errors?.required">This
                        field is mandatory.</label>
                    </div>
                    <div class="form-group">
                      <input class="form-control"   value="{{add}}" id = "add" formControlName="address" type="text" >
                      <label class="text-danger" *ngIf="createCompanyForm.get('address').touched && createCompanyForm.get('address').errors?.required">This
                        field is mandatory.</label>
                    </div>
                    <div class="form-group">
                      <input class="form-control" value="{{cityExp}}"  id = "city"  formControlName="cityExpositure" type="text" >
                      <label class="text-danger" *ngIf="createCompanyForm.get('cityExpositure').touched && createCompanyForm.get('cityExpositure').errors?.required">This
                        field is mandatory.</label>
                    </div>
                    <div class="form-group">
                      <input class="form-control"  value="{{desc}}" id = "desc"  formControlName="description" type="text" >
                      <label class="text-danger" *ngIf="createCompanyForm.get('description').touched && createCompanyForm.get('description').errors?.required">This
                        field is mandatory.</label>
                    </div>
                    <div class="form-group">
                      <img src="./{{img}}"  width="100" height="100">
                      <input type="file" (change)="onFileChanged($event)" id="img" formControlName="imagepic" required>
                      <label class="text-danger" *ngIf="createCompanyForm.get('imagepic').touched && createCompanyForm.get('imagepic').errors?.required">This
                        field is mandatory.</label>
                    </div>
                                 
                    <button type="submit" class="button" [disabled]="!createCompanyForm.valid">Edit</button>
                   </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </section>
    </body>