<mat-toolbar color="primary"  class="mat-elevation-z8">
    <nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
        <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-auto">Drive<span>box</span></a>
                <div class="collapse navbar-collapse" id="navbarCollapse1">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item" *ngIf="LogedUser.Role==0"> <a class="nav-link" routerLink="/carcompany">Car-Service</a> </li> 
                    <li class="nav-item" *ngIf="LogedUser.Role==0"> <a class="nav-link" routerLink="/webadmin">Home</a> </li>                     
                    <li class="nav-item" *ngIf="LogedUser.Role==1"> <a class="nav-link" routerLink="/caradmin">Home</a> </li>   
                    <li class="nav-item" *ngIf="LogedUser.Role==1"> <a class="nav-link" routerLink="/cars">Cars</a> </li> 
                    <li class="nav-item" *ngIf="LogedUser.Role==1"> <a class="nav-link" routerLink="/myacc">My Account</a> </li>        
                    <li class="nav-item" *ngIf="LogedUser.Role==3"  (click)="klik()"> <a class="nav-link">Log In</a></li>
                    <li class="nav-item" *ngIf="LogedUser.Role==2"> <a class="nav-link" routerLink="/mainc">Home</a> </li>  
                    <li class="nav-item" *ngIf="LogedUser.Role==2"> <a class="nav-link" routerLink="/myres">My Reservations</a> </li>  
                    <li class="nav-item" *ngIf="LogedUser.Role==2 || LogedUser.Role==0 || LogedUser.Role==1"  (click)="unklik()"  ><a class="nav-link">Log Out</a></li>
                    </ul>
                </div>
        </div>
    </nav>
</mat-toolbar>