<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
  <app-header></app-header>
<br><br><br>
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome Admin!</h3>
                        <p>You can create discount for users!</p>
                        <input type="submit" name="" value="Discount"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Car Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Web Admin</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Add car admin</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Username *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Fullname *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder=" Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder=" Phone number *" value="" />
                                        </div>
                                        <div class="form-group">
                                          <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder=" Address *" value="" />
                                      </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Add web admin</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Username *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Fullame *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone number *" value="" />
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                          <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder=" Address *" value="" />
                                      </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<br><br>
<section class="pricing-area pt-100 pb-100" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title">
                    <h4>cheap rate</h4>
                    <h2>our prices</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-xl-4">
            <div class="single-price">
              <div class="price-title">
                <h4>standard</h4>
              </div>
              <div class="price-tag">
                <h2>$25 <span>month</span></h2>
              </div>
              <div class="price-item">
                <ul>
                    <li>100GB Monthly Bandwidth</li>
                    <li>100 Google AdWords</li>
                    <li>100 Domain Hosting</li>
                    <li>SSL Shopping Cart</li>
                    <li>24/7 Live Support</li>
                </ul>
              </div>
              <a href="" class="box-btn">purchase now</a>
           </div>
           </div>
           <div class="col-xl-4">
            <div class="single-price">
              <div class="price-title">
                <h4>professional</h4>
              </div>
              <div class="price-tag center">
                <h2>$125 <span>month</span></h2>
              </div>
              <div class="price-item">
                <ul>
                    <li>100GB Monthly Bandwidth</li>
                    <li>100 Google AdWords</li>
                    <li>100 Domain Hosting</li>
                    <li>SSL Shopping Cart</li>
                    <li>24/7 Live Support</li>
                </ul>
              </div>
              <a href="" class="box-btn">purchase now</a>
           </div>
           </div>
           <div class="col-xl-4">
            <div class="single-price">
              <div class="price-title">
                <h4>business</h4>
              </div>
              <div class="price-tag">
                <h2>$225 <span>month</span></h2>
              </div>
              <div class="price-item">
                <ul>
                    <li>100GB Monthly Bandwidth</li>
                    <li>100 Google AdWords</li>
                    <li>100 Domain Hosting</li>
                    <li>SSL Shopping Cart</li>
                    <li>24/7 Live Support</li>
                </ul>
              </div>
              <a href="" class="box-btn">purchase now</a>
           </div>
           </div>
        </div>
    </div>
  </section>
          </body>