<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
  <app-header></app-header>
<br><br><br>
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome Admin!</h3>
                        <p>You can create discount for users!</p>
                       
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Web Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Car Admin</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <form [formGroup]="service.formModel" (ngSubmit)="onSubmit()">   
                                <h3 class="register-heading">Add web admin</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="Username"  placeholder="Username *" value="" required />
                                            <label class="text-danger" *ngIf="service.formModel.get('Username').touched && service.formModel.get('Username').errors?.required">This
                                                field is mandatory.</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="FullName"  placeholder="Fullname *" value="" required />
                                        </div>
                                        <div formGroupName="Passwords">
                                        <div class="form-group">
                                            <input type="password" formControlName="Password"  class="form-control" placeholder="Password *" value="" required />
                                            <label class="text-danger"
                                            *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This
                                            field is mandatory.
                                          </label>
                                          <label class="text-danger"
                                            *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum
                                            6 characters required.
                                          </label>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" formControlName="ConfirmPassword" required placeholder="Confirm Password *" value="" />
                                            <label class="text-danger"
                                            *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
                                            field is mandatory.
                                          </label>
                                          <label class="text-danger"
                                            *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.minlength">Minimum
                                            6 characters required.
                                          </label>
                                        </div>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" formControlName="Email" placeholder=" Email *" value="" required />
                                            <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid
                                                email address.</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="xxx/xxxxxxx" pattern="^[0-9]{3}\/[0-9]{7}$" formControlName="Phone" class="form-control" required value="" />
                                        </div>
                                        <div class="form-group">
                                          <input type="text" formControlName="Address"  class="form-control" placeholder=" Address *" required value="" />
                                      </div>
                                        <button type="submit" class="btnRegister"  [disabled]="!service.formModel.valid" >Add</button>
                                    </div>
                                </div>
                            </form> </div>
                       
                          <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <form [formGroup]="service.formModel" (ngSubmit)="onSubmit2()"> 
                                 <h3  class="register-heading">Add car admin</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="Username" required placeholder="Username *" value="" />
                                            <label class="text-danger" *ngIf="service.formModel.get('Username').touched && service.formModel.get('Username').errors?.required">This
                                                field is mandatory.</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="FullName" required  placeholder="Fullname *" value="" />
                                        </div>
                                        <div formGroupName="Passwords">
                                        <div class="form-group">
                                            <input type="password" formControlName="Password" required class="form-control" placeholder="Password *" value="" />
                                            <label class="text-danger"
                                            *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This
                                            field is mandatory.
                                          </label>
                                          <label class="text-danger"
                                            *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum
                                            6 characters required.
                                          </label>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  required formControlName="ConfirmPassword"  placeholder="Confirm Password *" value="" />
                                            <label class="text-danger"
                                            *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
                                            field is mandatory.
                                          </label>
                                          <label class="text-danger"
                                            *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.minlength">Minimum
                                            6 characters required.
                                          </label>
                                        </div>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" formControlName="Email" required placeholder=" Email *" value="" />
                                            <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid
                                                email address.</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="xxx/xxxxxxx" pattern="^[0-9]{3}\/[0-9]{7}$" required formControlName="Phone" class="form-control" value="" />
                                        </div>
                                        <div class="form-group">
                                          <input type="text" formControlName="Address"  class="form-control" required placeholder=" Address *" value="" />
                                      </div>
                                        <button type="submit" class="btnRegister"  [disabled]="!service.formModel.valid" >Add</button>
                                    </div>
                                </div>
                            </form> </div>
                        
                        </div>
                    </div>
                </div>
            </div>

<br><br>
<section class="pricing-area pt-100 pb-100" id="pricing">
  <form   #profileForm='ngForm' (ngSubmit)="onSubmit3(profileForm)" >
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title">
                    <h4>create</h4>
                    <h2>own discount</h2>
                    <p>Choose the best.</p>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-xl-4">
            <div class="single-price">
              <div class="price-title">
                <h4>Silver </h4>
              </div>
              <div class="price-tag">
                <h2>{{discountS}} <span>% discount</span></h2>
                <input type="text"  #SilverD="ngModel" name="SilverD" [(ngModel)]="profileForm.SilverD" required>
              </div>
              <div class="price-item">
                <ul>
                    <li>0 -600 points</li>
                </ul>
              </div>
           </div>
           </div>
           <div class="col-xl-4">
            <div class="single-price">
              <div class="price-title">
                <h4>Gold</h4>
              </div>
              <div class="price-tag">
                <h2>{{discountG}} <span>% discount</span></h2>
                <input type="text" #GoldD="ngModel" name="GoldD" [(ngModel)]="profileForm.GoldD" required>
              </div>
              <div class="price-item">
                <ul>
                    <li>more then 600 points</li>
                </ul>
              </div>       
          
           </div>
           </div>
           <div class="col-xl-4">
            <div class="single-price">
              <div class="price-title">
                <h4>RentCar 5x -> </h4>
              </div>
              <div class="price-tag">
                <h2>{{discountAR}} <span>% discount</span></h2>
                <input type="text" #RentAirD="ngModel" name="RentAirD" [(ngModel)]="profileForm.RentAirD" required>
              </div>
              <div class="price-item">
                <ul>
                    <li>no points</li>
                </ul>
              </div>
           </div>
           </div>
           
           <div class="col-xl-8 mx-auto text-center">
            <div class="section-title">
                <h2>
                <button type="submit" [disabled]="!profileForm.valid"  class="button5">Modify</button></h2>
            </div>
        </div>
        </div>
    </div>
   
  </form>
  </section>
</body>