

<body>
    <app-header></app-header>
    <br><br><br>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Model</th>
            <th>Seats</th>
            <th>Price</th>
            <th>Description</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                <td><img src="./{{img}}" width="100" height="100"> </td>
                <td><input type="text" value="{{model}}"  id="model"></td>
                <td><input type="number" value="{{seats}}"  id="numberOfSeats"></td>
                <td><input type="number" value="{{price}}"  id="price"></td>
                <td><input type="text" value="{{desc}}"  id="description"></td>
                <td class="text-center">
                <button class='btn btn-info btn-xs' (click)="onEdit(myCar)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                <br><br>
                <button class="btn btn-danger btn-xs" (click)="onClick(myCar)"><span class="glyphicon glyphicon-remove"></span> Del</button>
            </td>
            </tr>
            
    </table>
    </div>
</div>
</body>