<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body>
    <app-header> </app-header>
<br>
<div class="mt-5"></div>

<section class="listings">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card bg-warning">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Search Service</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                
                                    <div class="form-group">
                                        <input type="text" class="form-control"  [(ngModel)]="search"  placeholder="Search">                                
                                     </div>
                                                   
                                    <hr>                       
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
              
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h2> BEST RATES & SERVICES</h2>
                        <p> Choose the best for you . . . </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                          <ul class="nav nav-justified nav-pills">  
                            </ul>
                    </div>
                </div>
                <div class="row mb-3" *ngFor="let c of namecopmany | filter: search" >
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                  <div class="col-md-3">
                                      <img src="./{{c.imagePic}}" width="200" height="200">
                                  </div>
                                  <div class="col-md-6  card-body">
                                      <div class="list-title">
                                          <ul class="list-inline list-unstyled">
                                          <li class="list-inline-item"><h4>{{c.name}}</h4></li>
                                      </ul>
                                      </div>
                                      <div class="list-location">
                                          <a href="#"><i class="fa fa-map-marker"></i><small> {{c.address}}</small> </a>
                                      </div>
                                      <div class="list-location">
                                        <i class="fa fa-map-pin"></i><small> {{c.cityExpositure}}</small>
                                    </div>
                                      <div class="list-descrip">
                                        <small>{{c.description}}</small>  
                                      </div>
                                      
                                                           
                                  </div>
                                  <div class="col-md-3 border-left card-body">
                                      <ul class="list-unstyled">
                                        <li class="list-inline-item text-warning" *ngIf="c.averageRating =='1'"> 
                                            <i class="fa fa-star"></i></li>
                                          <li class="list-inline-item text-warning" *ngIf="c.averageRating =='2'"> 
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item text-warning" *ngIf="c.averageRating =='3'"> 
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item text-warning" *ngIf="c.averageRating =='4'"> 
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                             <li class="list-inline-item text-warning" *ngIf="c.averageRating =='5'"> 
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                      </ul>
                                      <button type="button" [ngValue]="c"   (click)="onClick(c)" class="btn btn-outline-primary">View cars</button>
                                     
                                    </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>       
        </div>
    </div>
</section>

</body>