<body>
  <app-header> </app-header>

<div class="swiper-container main-slider" id="myCarousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider-bg-position" style="background-image: url('/assets/pic2.jpg'); top: 70px;">          
            <h1 class="display-2">Where to next?</h1>    
      </div>   
    </div>
  </div>
  
  
  
  
  
  
  <div class="container-fluid main-text">
    <h2>ADVENTURE IS EVERYWHERE.</h2>
    <p>EXPLORE THE UNEXPLORED</p>
  </div>
  
  <div class="container-fluid">
    <div class="row">
    
    <div class="col-md-3 hotel-thumbs" style="background:#333;">
      <img src="" class="cit">
      <div class="text">VELAVARU ISLAND RESORT</div>
    </div>
  
    <div class="col-md-3 hotel-thumbs" style="height:300px; background:#CCC; padding:0;">
      <img src="" class="cit">
      <div class="text">MEERU ISLAND RESORT</div>
    </div>
  
    <div class="col-md-3 hotel-thumbs" style="background:#333;">
      <img src="" class="cit" >
      <div class="text">KANUHURA ISLAND RESORT</div>
    </div>
  
    <div class="col-md-3 hotel-thumbs" style="background:#CCC;">
      <img src="" class="cit">
      <div class="text">BANDOS ISLAND RESORT</div>
    </div>
  
    <div class="col-md-3 hotel-thumbs" style="background:#333;">
      <img src="" class="cit">
      <div class="text">ZITHALI RESORTS</div>
    </div>
  
    <div class="col-md-3 hotel-thumbs" style="background:#CCC;">
      <img src="" class="cit">
      <div class="text">TAJ EXOTICA RESORT</div>
    </div>
  
    <div class="col-md-3 hotel-thumbs">
      <img src="" class="cit">
      <div class="text">MEERU ISLAND RESORT</div>
    </div>
  
    <div class="col-md-3 hotel-thumbs" style="background:#333;">
      <img src="" class="cit">
      <div class="text">MEERU HONEYMOON RESORT</div>
    </div>
  
    </div><!-- row -->
  </div><!-- /container -->
  
  <div class="container-fluid main-text">
    <h2>MORE FROM OUR DESTINATIONS</h2>
    <p>YOU HAVE MORE TO EXPLORE</p>
  </div>
  
  
  <div class="container">
    <div class="row">
    <div class="col-md-4 col-xs-12 pull-right booking"></div>
    <div class="col-md-8 col-xs-12" style="background:#ccc; height:300px;">
      <div class="row">
      <div class="col-md-6" style="background:#000; height:150px;"></div>
      <div class="col-md-6" style="background:#fff; height:150px;"></div>
      <div class="col-md-6" style="background:#eee; height:150px;"></div>
      <div class="col-md-6" style="background:#bbb; height:150px;"></div>
      </div>
    </div>
  </div>
  </div>
  
  
  <div class="container-fluid main-text">
    <h2>OUR TRAVEL PACKAGES</h2>
    <p>EXPERIENCE US</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="background:#ccc; height:350px;"></div>
      <div class="col-md-3" style="background:#eee; height:350px;"></div>
      <div class="col-md-3" style="background:#666; height:350px;"></div>
      <div class="col-md-3" style="background:#999; height:350px;"></div>
    </div>
  </div>
  <br><br>
  
</body>