<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<body>
  <app-header> </app-header>

<div class="swiper-container main-slider" id="myCarousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider-bg-position" style="background-image: url('/assets/pic4.PNG'); top: 70px;">          
            <h1 class="display-2">Where to next?</h1>    
      </div>   
    </div>
  </div>


  <div class="container-fluid main-text">
    <h2>MORE FROM OUR DESTINATIONS</h2>
    <p>Quad adventure in desert . . . </p>
  </div>
  
  
  <div class="container">
    <div class="row">
	    <div class="col-sm-4">
	        <div class="item"><img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/08/19/ab/49.jpg" class="img-thumbnail"></div>
		    
	    </div>
	    <div class="col-sm-4">
		    <div class="item"><img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/b1/90/0f.jpg" class="img-thumbnail"></div>
	    </div>
	    <div class="col-sm-4">
		    <div class="item"><img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/0a/a0/26/6f.jpg" class="img-thumbnail"></div>
	    </div>
    </div>
</div>
  

  
  <div class="container-fluid main-text">
    <h2>OUR WEDDING CARS</h2>
    <p>YOU HAVE MORE TO EXPLORE</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="background-image: url('/assets/w1.png'); height:500px;"></div>
      <div class="col-md-3" style="background-image: url('/assets/w2.png'); height:500px;"></div>
      <div class="col-md-3" style="background-image: url('/assets/w3.PNG'); height:500px;"></div>
      <div class="col-md-3" style="background-image: url('/assets/w4.PNG'); height:500px;"></div>
    </div>
  </div>
   
  <section class="services-area pt-100 pb-70" id="services">
    <div class="container-fluid main-text">
      <h2>BEST RATES & SERVICE</h2>
      <p>Choose the best for you . . .</p>
    </div>
		<div class="container">			
			<div class="row">
				<div class="col-lg-4 col-md-6" *ngFor="let c of allCompanies" >
					<div class="single-service">
						<i><img src="./{{c.imagePic}}" width="100" height="100"></i>
            <h4>{{c.name}}</h4>
              <i class="fa fa-map-pin">{{c.cityExpositure}}</i> <br>
             <i class="fa fa-map-marker">{{c.address}}</i>
            <p>{{c.description}} </p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i>
					</div>
				</div>
				
			</div>
		</div>
	  </section>
  
 
  
  
 
  <br><br>
  
  <section id="footer">
       <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u></u> Contact us - bilja.vukelic18@gmail.com</p>
        <p class="h6">©2020 Drivebox | All rights reserved.<a class="text-green ml-2"  target="_blank"></a></p>
        </div>
</section>
</body>