<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<body>
    <app-header> </app-header>
<br>
<div class="mt-5"></div>

<section class="listings">
    <div class="container">
        <div class = "row">      
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h2> My reservations</h2>
                    <p> The booking can be cancelled two days before the beginning </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                      <ul class="nav nav-justified nav-pills">  
                        </ul>
                </div>
            </div>
            
            <div class="row mb-3" *ngFor="let r of myReservations">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                              <div class="col-md-3">
                               <img src="./{{r.carPic}}" width="200" height="200">
                              </div>
                              <div class="col-md-6  card-body">
                                  <div class="list-title">
                                    <ul class="list-inline list-unstyled">
                                       <li class="list-inline-item"><h1>Start date:{{r.startDate}} </h1></li> 
                                       <li class="list-inline-item"> <h1>End date: {{r.endDate}}</h1></li>
                                    </ul>
                                    </div>
                                    <div class="list-location">
                                    <h1>Total price: {{r.totalPrice}}<i class="fa fa-dollar"></i></h1>
                                    </div> 
                                    <br>                                 
                                    <div class="list-descrip">
                                    <button (click)="cancel(r.id)" class="btn btn-outline-primary">Cancel Reservation</button>
                                    </div>                                
                              </div> 
                              
                              <div class="col-md-3 border-left card-body">
                               
                                <ul class="list-unstyled">
                                    <li class="list-inline-item text-warning"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></li>
                                    <li class="list-inline-item text-success"></li>
                                    
                                  </ul>
                                  <button (click)="addRating(r.id)" class="btn btn-outline-primary">Add rating</button>
                                
                              </div>
                           
                          </div>
                        </div>
                    </div>
                </div>
            </div>                     
        </div>
        </div>
    </div>
</section>

</body>