<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body>
  <app-header></app-header>
    <div class="container">
        <div class="row">
		   	<div class="col-md-5 mx-auto">
               <form [formGroup]="createReservationForm" (ngSubmit)="onSubmit()" class="mb-4" autocomplete="off">
               <div>             
		         		<div class="myform form ">
					          <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1>Reservation</h1>
						 </div>
                        </div>
                   
                     <div class="form-group">
                        <label>Start date</label>
                        <input class="form-control" type="date" formControlName="startDate" >
                        <label class="text-danger" *ngIf="createReservationForm.get('startDate').touched && createReservationForm.get('startDate').errors?.required">This
                           field is mandatory.</label>
                     </div>
                     <div class="form-group">
                        <label>End date</label>
                       <input type="date" class="form-control"  formControlName="endDate" >  
                       <label class="text-danger" *ngIf="createReservationForm.get('endDate').touched && createReservationForm.get('endDate').errors?.required">This
                        field is mandatory.</label>                 
                     </div>     
                     <div class="form-group">
                        <label>Pick-up time </label>
                        <input class="form-control" type="time"  formControlName="pickUpTime" >
                        <label class="text-danger" *ngIf="createReservationForm.get('pickUpTime').touched && createReservationForm.get('pickUpTime').errors?.required">This
                           field is mandatory.</label>                 
                        </div>  
                    
                     <div class="form-group">
                        <label>Return time</label>
                       <input type="time" class="form-control"  formControlName="returnTime">   
                       <label class="text-danger" *ngIf="createReservationForm.get('returnTime').touched && createReservationForm.get('returnTime').errors?.required">This
                        field is mandatory.</label>                   
                     </div>     
                     <div class="form-group">
                        <label>Pick-up location</label>
                        <select id="city"  [(ngModel)]="selectedValue" name="city" formControlName="pickupLocation" class="form-control">
                           <option *ngFor="let a of city" [ngValue]="a">{{ a.name}}</option>   
                           </select>                                     
                     </div>   
                     <div class="form-group">
                        <label>Drop-off location</label>
                        <select id="city"  [(ngModel)]="selectedValue2" name="city" formControlName="dropoffLocation" class="form-control">
                           <option *ngFor="let a of city" [ngValue]="a">{{ a.name}}</option>    
                           </select>           
                     </div>    
                     <div class="form-group">
                        <input id="is3dCheckBox" type="checkbox" (change)="toggleEditable($event)" formControlName="navigation">
                        <label for="is3dCheckBox"> Navigation<small> - 3$ per day</small></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
                        <input id="is3dCheckBox" type="checkbox"(change)="toggleEditable2($event)" formControlName="babyseat"> 
                        <label for="is3dCheckBox"> Baby seat<small> - 3$ per day</small> </label>                
                     </div>  
                     <div class="form-group">
                        <label>Total price is  $</label>                                     
                     </div>               
                     <div class="col-md-12 text-center ">
                        <button type="submit" [disabled]="!createReservationForm.valid" class=" btn btn-block mybtn btn-primary tx-tfm">Reservation</button>
                      </div>     
                     </div>
              </div>    
            </form>   
           </div>
			</div>
      </div>   
</body>