
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">


<app-header></app-header>
<br><br><br><br>
<section class="listings">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row mb-3">               
                </div>
              
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h2> My service </h2>
                        
                    </div>
                </div>
                <form >
                <div class="row mb-3" >
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                  <div class="col-md-3">
                                      <img src="./{{imagePic}}">
                                  </div>
                                  <div class="col-md-6  card-body">
                                      <div class="list-title">
                                          <ul class="list-inline list-unstyled">
                                          <li class="list-inline-item"><h4>{{name}}</h4></li>
                                          <li class="list-inline-item text-warning"> <i class="fa fa-star"></i></li>
                                          <li class="list-inline-item text-success"><i class="fa fa-thumbs-up"></i></li>
                                      </ul>
                                      </div>
                                      <div class="list-location">
                                          <i class="fa fa-map-pin"></i><small> {{cityExpositure}}</small>
                                      </div>
                                      <div class="list-location">
                                        <i class="fa fa-map-marker"></i><small> {{address}}</small>
                                    </div>
                                      <div class="list-descrip">
                                        <small>{{description}}</small>  
                                      </div>
                                      
                                      
                                      
                                  </div>
                                  <div class="col-md-3 border-left card-body">
                                      <ul class="list-unstyled">
                                          <li><h3>Very Good</h3></li>
                                          <li class="text-secondary"><small>8067 Reviews  </small></li>
                                      </ul>
                                      <button type="button"   (click)="onClick(copanyID)" class="btn btn-outline-primary">View cars</button>
                                      <button type="button"  (click)="onEdit(copanyID)" class="btn btn-outline-primary">Edit company</button>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
              
             
                
               
            </div>
        </div>
    </div>
</section>

</body>