<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<body>
    <app-header> </app-header>
<br>
<div class="mt-5"></div>

<section class="listings">
    <div class="container">
        <div class = "row">
            <div class="col-md-3">           
                <div class="row ">
                    <div class="col-md-12">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                 <div class="row">
                                    <div class="col-md-12">
                                        <h3> Search best effort</h3> <br>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form  [formGroup]="searchQuickReservation" (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>Start date</label>
                                            <input class="form-control" type="date" id="startdate"  formControlName="startDate" >
                                        </div>
                                        <div class="form-group">
                                            <label>End date</label>
                                            <input class="form-control" type="date" id="endate" formControlName="endDate" >
                                        </div>
                                        <hr>
                                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" [disabled]="!searchQuickReservation.valid" class="btn btn-primary">Find Now</button>
                                
                                        <div class="pb-3"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h2> BEST RATES & CARS</h2>
                    <p> Choose the best for you . . . </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                      <ul class="nav nav-justified nav-pills">  
                        </ul>
                </div>
            </div>
            <div class="row mb-3" *ngFor="let c of allCars">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                              <div class="col-md-3">
                                <img src="./{{c.imagePic}}" width="200" height="200">
                              </div>
                              <div class="col-md-6  card-body">
                                  <div class="list-title">
                                    <ul class="list-inline list-unstyled">
                                        <li class="list-inline-item"><h3>{{c.modelOfCar}}</h3></li>
                                    </ul>
                                    </div>
                                    <div class="list-location">
                                        <h1>Price per day: {{c.price}}<i class="fa fa-dollar"></i></h1>
                                    </div>
                                    <div>
                                    <h1>Number of seats: {{c.numberOfSeats}}</h1>
                                </div>   
                                    <div class="list-descrip">
                                      <h6>{{c.description}} </h6>  
                                    </div>                                
                              </div>
                              <div class="col-md-3 border-left card-body">
                                  <ul class="list-unstyled">
                                    <li class="list-inline-item text-warning" *ngIf="c.averageRating =='1'"> 
                                        <i class="fa fa-star"></i></li>
                                      <li class="list-inline-item text-warning" *ngIf="c.averageRating =='2'"> 
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item text-warning" *ngIf="c.averageRating =='3'"> 
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item text-warning" *ngIf="c.averageRating =='4'"> 
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                         <li class="list-inline-item text-warning" *ngIf="c.averageRating =='5'"> 
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                  </ul>
                                  <button (click)="onBook(c)" class="btn btn-outline-primary">Book now</button>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>                     
        </div>


        <div class="col-md-3">           
            <div class="row ">
                <div class="col-md-12">
                    <div >
                        <div class="card-body">
                             <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>


        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h2> BEST EFFORT</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                      <ul class="nav nav-justified nav-pills">  
                        </ul>
                </div>
            </div>
            <div class="row mb-3" *ngFor="let c of quickCars">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                              <div class="col-md-3">
                                <img src="./{{c.carPic}}" width="200" height="200">
                              </div>
                              <div class="col-md-6  card-body">
                                  <div class="list-title">
                                    <ul class="list-inline list-unstyled">
                                        <li class="list-inline-item"><h3>{{c.startDate}}</h3></li>
                                        <li class="list-inline-item"><h3>{{c.endDate}}</h3></li>
                                    </ul>
                                    </div>
                                   
                                    
                                    <div class="list-descrip">
                                    -- <h6>Regular price: {{c.totalPrice}} </h6>  
                                    </div>                                
                              </div>
                              <div class="col-md-3 border-left card-body">
                                  <ul class="list-unstyled">
                                    
                                      <li><h3>Price with discount:{{c.priceWithDiscount}} </h3></li>
                                  </ul>
                                  <button (click)="onRent(c)" class="btn btn-outline-primary">Rent Now</button>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>                     
        </div>


        </div>
    </div>
</section>

</body>