h1 {font-size:12px;}

h3{font-size:20px;font-weight:bold;}
h4{font-size:18px;font-weight:bold;}
h5{font-size:12px;}
h6{font-size:12px;}
p{font-size:14px;font-family: 'Cabin', sans-serif;}
img {width:100%;}
h2 { font-family: 'Cabin', sans-serif; letter-spacing: 9px; font-size: 23px; font-weight:bold;}